
.reveal p {
  font-size: 25 px;
}

.reveal h1 {
  font-size: 70px;
}

.reveal h2 {
  font-size: 60px;
}

figcaption {
  font-size: 70%;
}

.reveal section img { background:none; border:none; box-shadow:none; }